BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
IndentCaseLabels: true
FixNamespaceComments: true
